@charset "utf-8";
* {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}


/*搜索 字体图标*/

@font-face {
    font-family: "wbb-iconfont";
    src: url('../icon/wbb-iconfont.eot?t=1487147756868');
    /* IE9*/
    src: url('../icon/wbb-iconfont.eot?t=1487147756868#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/wbb-iconfont.woff?t=1487147756868') format('woff'), /* chrome, firefox */
    url('../icon/wbb-iconfont.ttf?t=1487147756868') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../icon/wbb-iconfont.svg?t=1487147756868#iconfont') format('svg');
    /* iOS 4.1- */
}

.wbb-iconfont {
    font-family: "wbb-iconfont" !important;
    font-size: 23px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon1460187848267:before {
    content: "\e609";
}

.hidden {
    display: none
}

.header {
    background-color: #e4393c;
    height: 44px;
    width: 100%;
    color: #fff;
    position: relative
}

.header .wbb-back {
    width: 50px;
    position: relative
}

.header .wbb-app {
    width: 50px;
    position: relative
}

.header>h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 44px;
    font-weight: 800;
    padding: 0 50px
}

.wbb-heard-cat {
    width: 100%;
    height: 38px;
    position: relative;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background-color: #FFF
}

.wbb-heard-cat .wbb-nav {
    display: inline-block
}

.wbb-heard-cat .wbb-nav .wbb-nav-list {
    margin: 0;
    width: 756px;
    display: inline-block
}

.wbb-heard-cat .wbb-nav .wbb-nav-list li {
    float: left
}

.wbb-heard-cat .wbb-nav .wbb-nav-list li a {
    margin: 0 10px;
    color: #333;
    display: inline-block;
    line-height: 36px
}

.wbb-heard-cat .wbb-nav .wbb-nav-list li a:hover {
    border-bottom: 1px solid #e4393c;
    color: #e4393c
}

.wbb-heard-cat .wbb-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background-color: pink
}

.wbb-from {
    width: 100%;
    z-index: 1000;
    position: relative;
    padding: 10px 45px 10px 0;
    border: 1px solid #e6e6e6
}

.wbb-from .wbb-form-text {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%
}

.wbb-from .wbb-form-text>input {
    width: 100%;
    padding: 0 26px;
    font-size: 14px;
    height: 35px;
    border-width: 0;
    border: 1px solid #eee;
    background-color: #FFF
}

.wbb-from .wbb-form-sub {
    display: inline-block;
    width: 30px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 0
}

.wbb-from .wbb-form-sub>input {
    vertical-align: middle;
    border-width: 0;
    width: 30px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    font-size: 15px;
    text-rendering: auto;
    box-sizing: border-box;
    background-color: transparent
}