<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>肯德基等优惠券--随价惠</title>
	<!--<link rel="" href=""/>-->
	<!-- 引入第三方样式-->
	<link rel="icon" href="./images/favicon.ico"/>
	<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css"/>
	<!-- 加载less样式文件 -->
	<link rel="stylesheet/less" href="./css/base.less">
	<link rel="stylesheet/less" href="css/coupon.less">
	<!-- 加载less.js文件 -->
	<script src="./lib/less/less.min.js"></script>
</head>
<body>
	<!--优惠券头部-->
	<div class="ym-header clearfix">
		<div class="header-lift"><a href="#" class="glyphicon glyphicon-menu-left"></a></div>
		<div class="header-right"><a href="#"></a></div>
		<h1>优惠券</h1>
	</div>
	<div class="ym-yhproduct">
		<div class="ym-pro">
			<ul id="ym-box" class="clearfix">

			</ul>
		</div>
	</div>
	<div class="ym-yuhui">
		<p>首页&gt;优惠券</p>
	</div>
	<!-- 登录注册-->
	<div class="ym-regis">
		<div class="foot_top">
			<a href="#">登录</a>
			<a href="#">注册</a>
			<a href="javascript:;" style="width: 40%">回到顶部</a>
		</div>
	</div>
	<div class="ym-footer">
		<p><a href="#" class="loadup">手机APP下载</a><span class="mmobile"> 随价惠手机版 </span> --掌上比价平台</p>
		<p>m.suijiahui.com</p>
	</div>
	<!-- 优惠页deader模板-->
<script type="text/template" id="ym-deader">
	<% for( var i=0;i < result.length;i++){%>
			<li style="width: 30%">
				<a href="coupon2.html?couponid=<%= result[i].couponId %>">
					<img src="<%= result[i].couponImg%>" alt=""/>
					<p><%= result[i].couponTitle%></p>
				</a>
			</li>
	<%}%>
</script>
</body>
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./js/common.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/template/template-native.js"></script>
<script src="js/coupon.js"></script>
</html>