
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487136328586'); /* IE9*/
  src: url('iconfont.eot?t=1487136328586#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487136328586') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487136328586') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487136328586#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
}

.icon-wodefankui:before { content: "\e656"; }

